.contacts {
  &--bg {
    background-color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__wrapper {
  display: flex;
  width: auto;
  padding: 28px 19px 25px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
    padding: 65px 40px 60px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 50%;
    left: 38px;
    width: 570px;
    padding-right: 77px;
    padding-left: 77px;
    background-color: #ffffff;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.contacts__text {
  width: 50%;
  margin: 0;
  font-family: $font-head;
  line-height: 20px;
  color: $color-title;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 155px;
    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.contacts__adress {
  width: 50%;
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 190px;
    margin-left: auto;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin-left: 85px;
    text-align: left;
  }
}

.contacts__adress-city {
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 20px;
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 364px;
  background-color: #fdf7ef;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom;

  &::before {
    content: "";
    position: absolute;
    top: 39%;
    left: 41%;
    width: 55px;
    height: 53px;
    background-image: url("../../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/bg-map-mobile@2x.png");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    height: 396px;
    background-image: url("../../img/bg-map-tablet@1x.png");

    &::before {
      top: 37%;
      left: 43%;
      width: 113px;
      height: 106px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    height: 400px;
    background-image: url("../../img/bg-map-desktop@1x.png");

    &::before {
      top: 37;
      left: 71.5%;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-map-desktop@2x.png");
    }
  }
}

.catalog-item__btn {
  width: 100%;
}
