.example {
  margin-top: 42px;
  background-color: $secondary-bg-color;

  @media (min-width: $tablet-width) {
    min-height: 1033px; /* для сетки */
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    min-height: 635px; /* для сетки */
    margin-top: 17px;
  }
}

.example__desc {
  @include container ();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.example__title {
  @include section-title();
}

.example__text {
  font-size: 14px;
}

.example__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 384px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.example-item {
  width: 50%;
}

.example-item__data {
  @include section-subtitle();
  text-transform: uppercase;
}

.example-item__label {
  font-size: 12px;
  line-height: 12px;
}

.example__total {
  font-family: $font-head;
  font-size: 14px;
  line-height: 20px;
  color: $color-title;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 192px;
    margin-left: auto;
  }
}
