.extra {
  position: relative;
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    margin-top: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
    margin-bottom: 85px;
  }
}

.extra__wrapper {
  @include container ();

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.extra__title {
  @include section-subtitle ();
  @include green-line ();
  display: inline-block;
  margin: 0;
  margin-left: -20px;
  padding: 0 20px;
  vertical-align: top;
  font-family: $font-head;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 413px;
    margin-left: 0;
    padding: 0 37px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    width: 413px;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 20px;
  }
}

.extra__list {
  margin: 0;
  margin-top: 34px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-top: 79px;
  }

  @media (min-width: $desktop-width) {
    width: 895px;
    margin-top: 80px;
  }
}

.extra-item {
  padding: 12px 0 17px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 26px 38px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 15px 0 16px;
    border-left: none;
    border-right: none;
  }
}

.extra-item__title {
  margin: 0;
  font-family: $font-head;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
  }
}

.extra-item__detals {
  display: flex;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 14px;
  color: inherit;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    width: 50%;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    margin-right: auto;
  }
}

.extra-item__text {
  width: 50%;

  &--unit {
    @media (min-width: $tablet-width) {
      width: 70%;
      text-align: right;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
    }
  }

  &--price {
    text-align: right;

    @media (min-width: $tablet-width) {
      width: 30%;
    }
  }
}

.extra-item__link {
  width: 100%;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-top: 0;
  }
}

.extra__gift {
  margin: 39px 0 35px;

  @media (min-width: $tablet-width) {
    margin: 70px 0 78px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: 0;
    padding: 0;
  }
}
