.extra {
  margin-top: 32px;
}

.extra__title {
  @include section-subtitle ();
  font-family: $font-head;
  margin: 0;
}

.extra-item__detals {
  font-size: 14px;
  line-height: 14px;
  color: inherit;
}

.extra-item__title {
  font-family: $font-head;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}
