.features {
  @include container ();
  min-height: 406px;
  margin-top: 23px;
}

.features__title {
  @include section-title ();
  margin: 0;
}

.features__list {
  min-height: 306px; /* для сетки */
  margin: 0;
  margin-top: 22px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    min-height: 613px; /* для сетки */
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    min-height: 310px; /* для сетки */
  }
}

.features__item {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    width: 240px;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
