.form {
  min-height: 1180px;
  font-family: $font-head;
  color: #222222;
  text-transform: uppercase;
}

.form__section {
  @include container;
  margin-top: 32px;
}

.form__subtitle {
  @include section-subtitle ();
}

.form__input {
  @include placeholder;
  font: inherit;
  text-transform: uppercase;
}

.form__textarea {
  @include placeholder;
  font: inherit;
  text-transform: uppercase;
}

.form__btn {
  margin-top: 34px;
  margin-bottom: 20px;
}

.form__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  text-transform: none;
}
