.form {
  padding-bottom: 32px;
  font-family: $font-head;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-bottom: 72px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 83px;
  }
}

.form__wrapper {
  width: 100%;

  @media (min-width: $desktop-width) {
    @include container ();
    display: flex;
  }
}

.form__group {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.form__group-wrapper {
  @include container ();

  @media (min-width: $tablet-width) {
    padding: 0 35px 0 25px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 35px;

    &--reset {
      width: auto;
      margin: 0;
      padding: 0;
    }
  }
}

.form__group-inner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 280px;
  margin-top: 10px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.form__subtitle {
  @include section-subtitle ();
  padding-left: 20px;
  padding-right: 20px;
  text-transform: none;
  background: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }
}

.form__input {
  @include placeholder;
  flex-grow: 1;
  width: 172px;
  padding: 12px 13px;
  font-family: $font-head;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: $border-bottom;
  border-color: rgba(230, 230, 230, 0.5);

  &:hover {
    border-color: rgba(230, 230, 230, 1);
  }

  &:focus {
    outline: 2px solid #444444;
  }

  // &:invalid:not(:focus) {
  //   outline: 2px solid #ff8282;
  // }

  // &:-moz-submit-invalid {
  //   box-shadow: none;
  // }

  // &:-moz-ui-invalid {
  //   box-shadow: none;
  // }

  @media (min-width: $tablet-width) {
    margin-left: 19px;
    padding: 10px 15px;
    font-size: 20px;
    line-height: 20px;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__textarea {
  @include placeholder;
  width: 100%;
  min-height: 150px;
  margin-top: 35px;
  padding: 13px;
  font: inherit;
  text-transform: uppercase;
  border: $border-bottom;

  @media (min-width: $tablet-width) {
    min-height: 173px;
    margin-top: 77px;
    padding-left: 18px;
  }
}

.form__btn {
  width: 280px;
  margin: 18px auto 17px;

  @media (min-width: $tablet-width) {
    width: 284px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-left: 0;
  }
}

.form__note {
  display: inline-block;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  text-transform: none;

  @media (min-width: $tablet-width) {
    width: 192px;
    margin-left: 54px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
    margin-left: 80px;
  }

  sup {
    padding-right: 4px;
    vertical-align: middle;
    font-size: inherit;
  }
}


/* ======== GROUP-INTRODUCE ======= */

.group-introduce {
  padding-bottom: 8px;
  border-bottom: $border-bottom;

  @media (min-width: $tablet-width) {
    padding-top: 34px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.group-introduce__label {
  max-width: 95px;
  margin-right: 16px;
  white-space: nowrap;  /* для firefox */

  @media (min-width: $tablet-width) {
    max-width: 114px;
    margin-right: 0;
  }
}


/* ======== GROUP-PROGRAM ======= */

.group-program {
  margin-top: 27px;
  border-bottom: $border-bottom;

  @media (min-width: $tablet-width) {
    margin-top: 46px;
    border: none;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-left: auto;
    margin-top: 0;
    padding-top: 44px;
  }
}

.group-program__list {
  @media (min-width: $tablet-width) {
    margin-right: -100%;
    padding-left: 30px;
    padding-top: 33px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.group-program__item {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.group-program__label {
  position: relative;
  padding-left: 45px;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      top: -5px;
      left: -2px;
    }
  }

  &:hover::before {
    border-color: #bababa;
  }

  @media (min-width: $tablet-width) {
    padding-left: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 56px;
  }
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 10px;
  width: 10px;
  height: 10px;
  background-color: $primary-bg-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
    top: 5px;
    left: 8px;
  }
}

input[type="radio"]:disabled + label {
  opacity: 0.3;
}


/* ======== GROUP-CONTACTS ======= */

.group-contacts {
  margin-top: 28px;
  border-top: 3px solid $primary-bg-color;

  @media (min-width: $tablet-width) {
    margin-top: 75px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: 42px;
  }
}

.group-contacts__title {
  width: 222px;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.group-contacts__list {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 77px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
  }
}

.group-contacts__item {
  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.group-contacts__input {
  margin-left: 10px;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }
}


/* ======== GROUP-COMMENT ======= */

.group-comment {
  margin-top: 13px;
  border-top: 3px solid $primary-bg-color;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
  }
}

// .group-comment__title {
//   width: 162px;

//   @media (min-width: $tablet-width) {
//     width: 255px;
//   }
// }


/* ======== GROUP-MORE ======= */

.group-more {
  margin-top: 26px;
  border-top: 3px solid $primary-bg-color;

  @media (min-width: $tablet-width) {
    margin-top: 63px;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    min-height: 128px;
    width: 100%;
  }
}

.group-more__title {
  width: 185px;

  @media (min-width: $tablet-width) {
    width: 291px;
  }
}

.group-more__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
  }
}

.group-more__item {
  width: 100%;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    width: 290px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.group-more__label {
  position: relative;
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    padding-left: 58px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  &:hover::before {
    border-color: #bababa;
  }
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 22px;
  height: 11px;
  border: 2px solid $primary-bg-color;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(135deg);

  @media (min-width: $tablet-width) {
    top: 7px;
    left: 10px;
  }
}

input[type="checkbox"]:disabled + label {
  opacity: 0.3;
}
