.gift {
  position: relative;
  display: flex;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.gift__wrapper {
  display: flex;
  align-items: flex-end;
  min-height: 288px;
  padding: 45px 50px;
  color: #ffffff;
  background-color: $primary-bg-color;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 40%;
    width: 55px;
    height: 60px;
    background-image: url("../../img/icon-gift.svg");
    background-repeat: no-repeat;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    align-items: center;
    min-height: 200px;
    padding: 0 100px;
    width: 100%;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");

    &::before {
      left: 13%;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }

  @media (min-width: $desktop-width) {
    align-items: flex-end;
    padding: 44px 41px;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");

    &::before {
      left: 39%;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }
}

.gift__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 185px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
