.group-program {
  margin-top: 27px;
  border-bottom: $border-bottom;

  @media (min-width: $tablet-width) {
    margin-top: 46px;
    border: none;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-left: auto;
    margin-top: 0;
    padding-top: 44px;
  }
}

.group-program__list {
  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-top: 33px;
    border: 1px solid #e6e6e6;
  }
}

.group-program__item {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.group-program__label {
  position: relative;
  padding-left: 45px;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      top: -5px;
      left: -2px;
    }
  }

  &:hover::before {
    border-color: #bababa;
  }

  @media (min-width: $tablet-width) {
    padding-left: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 56px;
  }
}

.group-program__input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 10px;
  width: 10px;
  height: 10px;
  background-color: $primary-bg-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
    top: 5px;
    left: 8px;
  }
}

.group-program__input[type="radio"]:disabled + label {
  opacity: 0.3;
}
