.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  width: auto;
  padding: 21px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

.main-nav__link {
  font-family: $font-head;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $color-title;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 516px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__item {
    width: 162px;
    margin-left: auto;
    padding: 0;
    border: none;
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #222222;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 570px;
    margin-left: auto;
  }

  .main-nav__item {
    padding-bottom: 10px;
  }

  .main-nav__link {
    color: #ffffff;
  }
}
