.page-main {
  min-height: 2206px;
  @include container ();
}

.page-main__title {
  @include section-title ();
  margin: 0;
  margin-top: 18px;
  font-family: $font-head;
  font-stretch: condensed;
}
