.page-header {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: calc(50% - 40px);
      height: 100%;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
      z-index: -1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 680px auto;
      }
    }
  }

  &--index {
    @media (min-width: $desktop-width) {
      background-image: linear-gradient(to right, #ffffff 53%, $primary-bg-color 53%);
      z-index: -1;
    }
  }
}

.page-header__logo {
  position: relative;
  display: block;
  padding-top: 23px;
  padding-bottom: 21px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 20px;
    width: 33px;
    height: 40px;
    background-image: url("../img/icon-logo-mobile.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 235px;
    padding: 0;
    text-align: left;
    border: none;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.page-header__logo-img {
  @media (min-width: $tablet-width) {
    width: 173px;
    height: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__top {
  @include container ();
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}
