.page-header {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
    background-image: linear-gradient(to right, #ffffff 53%, $primary-bg-color 53%); /* 460px/1440px */
  }
}

.page-header__logo {
  position: relative;
  display: block;
  padding-top: 23px;
  padding-bottom: 21px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 20px;
    width: 33px;
    height: 40px;
    background-image: url("../../img/icon-logo-mobile.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 192px;
    padding: 0;
    padding-left: 90px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-left: 23px;
  }
}

@media (min-width: $tablet-width) {
  .page-header__top {
    @include container ();
    display: flex;
  }
}
