.page-footer {
  min-height: 664px;
  background-color: $secondary-bg-color;
}

.page-footer__logo {
  display: block;
  padding: 39px 0 28px;
  text-align: center;
  border-bottom: $border-bottom;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    padding: 0;
  }
}

.page-footer__inner {
  @include container;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 64px 0 23px;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 40px;
  }
}
