.page-main__title {
  @include section-title ();
  margin: 0;
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 73px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 81px;
  }
}

.page-main__header {
  @include container ();
}

.page-main__desc {
  margin: 0;
  margin-top: 25px;
  font-family: $font-head;
  font-size: 14px;
  color: $color-title;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 342px;
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.page-main__form {
  margin-top: 30px;
}
