.programs {
  @include container ();
  margin-top: 22px;

  @media (min-width: $desktop-width) {
    margin-top: 80px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.programs__item {
  margin-bottom: 20px;
  padding: 22px 20px;
  background-color: $secondary-bg-color;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 30px;
    padding: 62px 53px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
    padding-top: 63px;
  }
}

.programs__title {
  @include section-subtitle ();
  position: relative;
  margin: 0;
  margin-top: 14px;
  padding-left: 71px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $primary-bg-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: auto;
    left: auto;
    background-repeat: no-repeat;
  }

  &--slim::after {
    top: -15px;
    left: 10px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
  }

  &--pro::after {
    top: 0;
    left: -7px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
  }

  @media (min-width: $tablet-width) {
    position: static;
    padding-left: 0;

    &::before {
      top: 91px;
      left: 447px;
      width: 200px;
      height: 200px;
    }

    &--slim::after {
      top: 21%;
      left: auto;
      right: 92px;
      width: 140px;
      height: 194px;
    }

    &--pro::after {
      top: 36%;
      left: auto;
      right: 28px;
      width: 268px;
      height: 112px;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-left: 161px;

    &::before {
      width: 100px;
      height: 100px;
      top: -28px;
      left: 0;
    }

    &--slim::after {
      top: -36px;
      left: 13px;
      right: auto;
      width: 70px;
      height: 97px;
    }

    &--pro::after {
      top: -7px;
      left: -18px;
      right: auto;
      width: 134px;
      height: 56px;
    }
  }
}

.programs__desc {
  margin: 0;
  margin-top: 37px;
  padding-bottom: 22px;
  font-size: 14px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: 372px;
    margin-top: 26px;
    font-size: 16px;
    line-height: 24px;
    border: none;

    &--width {
      width: 342px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: 76px;
    padding-bottom: 0;


    &--width {
      width: 100%;
    }
  }
}

.programs__link {
  position: relative;
  display: inline-block;
  margin-top: 18px;
  padding-right: 40px;
  vertical-align: top;
  font-family: $font-head;
  line-height: 16px;
  color: $color-title;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    right: 13px;
    top: 7px;
    display: block;
    width: 16px;
    height: 2px;
    background: #3e4242;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 2px;
    display: block;
    border: 6px solid transparent;
    border-left: 7px solid #3e4242;
  }

  &:hover::before {
    width: 27px;
    right: 2px;
  }

  &:hover::after {
    right: -11px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-top: 33px;
    font-size: 20px;
    line-height: 20px;


    &::before {
      right: 0;
      top: 9px;
    }

    &::after {
      right: -13px;
      top: 4px;
    }


    &:hover::before {
      width: 27px;
      right: -11px;
    }

    &:hover::after {
      right: -24px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
  }
}
