.programs {
  min-height: 505px;
  margin-top: 22px;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__item {
  padding: 22px 20px;
  margin-bottom: 20px;
  background-color: $secondary-bg-color;

  &:last-child {
    margin-bottom: 0;
  }
}

.programs__title {
  @include section-subtitle ();
  text-transform: uppercase;
}

.programs__desc {
  font-size: 14px;
}

.programs__link {
  font-family: $font-head;
  line-height: 16px;
  color: $color-title;
  text-transform: uppercase;
  text-decoration: none;
}
