.programs {
  @include container ();
  min-height: 505px; /* для сетки */
  margin-top: 22px;

  @media (min-width: $desktop-width) {
    min-height: auto; /* для сетки */
    margin-top: 80px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.programs__item {
  min-height: 266px; /* для сетки */
  margin-bottom: 20px;
  padding: 22px 20px;
  background-color: $secondary-bg-color;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    min-height: 370px; /* для сетки */
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
  }
}

.programs__title {
  @include section-subtitle ();
  position: relative;
  margin: 0;
  margin-top: 14px;
  padding-left: 71px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $primary-bg-color;
  }
}

.programs__desc {
  margin: 0;
  margin-top: 37px;
  padding-bottom: 22px;
  font-size: 14px;
  border-bottom: 1px solid #d9d9d9;
}

.programs__link {
  display: block;
  margin-top: 18px;
  font-family: $font-head;
  line-height: 16px;
  color: $color-title;
  text-transform: uppercase;
  text-decoration: none;
}
