.promo {
  color: #ffffff;
  background-image: url("../../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, $primary-bg-color 305px, transparent 305px);
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    min-height: 864px;
    color: inherit;
    background-color: #ffffff;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    min-height: 560px;
    margin-top: 18px;
    padding: 0;
    padding-bottom: 50px;
    background-color: transparent;
  }
}

.promo__wrapper {
  @include container ();

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 88px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
  }
}

.promo__title {
  margin: 0;
  padding-top: 25px;
  font-family: $font-head;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 430px;
    padding-top: 54px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 575px;
    padding-top: 86px;
    text-align: left;
  }
}

.promo__slogan {
  margin: 0;
  padding-top: 25px;
  font-family: $font-head;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 375px;
    padding-top: 42px;
    font-size: 20px;
    line-height: 20px;
    color: $color-title;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 414px;
  }
}

.promo__product {
  margin-top: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 255px;
    left: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    top: 7px;
    left: 490px;
  }
}

.promo__img {
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    height: 609px;
    width: 709px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.promo__link {
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
    margin-left: 2px;
    z-index: 3;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
    margin-left: 0;
  }
}
