.slider {
  margin-top: 34px;
  text-align: center;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 80px;
    padding-bottom: 68px;
    background-image: linear-gradient(to bottom, #ffffff 170px, transparent 170px),
      linear-gradient(to right, $secondary-bg-color 50%, #eaeaea 50%);
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin-top: 0;
    background-image: linear-gradient(to bottom, #ffffff 200px, transparent 200px),
      linear-gradient(to right, $secondary-bg-color 53.5%, #eaeaea 53.5%);
  }
}

.slider__inner {
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.slider__slide {
  display: flex;
  justify-content: center;
  overflow: hidden;

  picture {
    flex-shrink: 0;
  }

  img {
    max-width: none;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-start;

    &--after {
      display: flex;
      justify-content: center;
      transform: translate(8px);

      img {
        max-width: 690px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--after {
      justify-content: flex-start;
      min-height: 530px;
      padding-top: 10px;
      background-image: linear-gradient(to bottom, #ffffff 200px, #eaeaea 200px);
      transform: translate(-40px);
      overflow: hidden;
    }
  }
}

.slider__slide--before {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 1px;
    left: 45px;
    display: flex;
    width: 44%;
    background-image: linear-gradient(to bottom, #ffffff 170px, $secondary-bg-color 170px);
    overflow: hidden;
    z-index: 1;

    img {
      max-width: 690px;
    }
  }

  @media (min-width: $desktop-width) {
    left: -40px;
    width: 60%;
    padding-top: 10px;
    background-image: linear-gradient(to bottom, #ffffff 200px, $secondary-bg-color 200px);
    z-index: 2;
  }
}

.slider__controls {
  position: relative;
  max-width: 320px;
  margin: 29px auto 0;
  padding: 0 59px 0 63px;
  font-family: $font-head;
  line-height: 20px;
  color: $color-title;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: none;
    width: 570px;
    margin-top: 17px;
    padding: 0;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 35px;
    margin-right: 0;
  }
}

.slider__controls-label {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) {
    &:hover::after {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active::after {
      border-color: $primary-bg-color;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

.slider__controls-label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 119px;
  width: 84px;
  height: 14px;
  outline: none;
  background: white;
  border: 1px solid #cdcdcd;
  border-radius: 30px;

  @media (min-width: $tablet-width) {
    top: 9px;
    left: 69px;
    width: 429px;
    height: 6px;
    background-color: #dcdcdc;
    border: none;
  }
}

.slider__controls-label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 160px;
  width: 37px;
  height: 6px;
  background: $primary-bg-color;
  border: 1px solid #cdcdcd;
  border-radius: 30px;

  @media (min-width: $tablet-width) {
    top: -5px;
    left: 268px;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: #ffffff;
    background-image: radial-gradient(circle closest-side, $primary-bg-color 4px, #ffffff 4px, #ffffff 11px);
    border: 1px solid #cecece;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }
}

.slider__controls-text {
  &--before {
    margin-right: auto;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    border-bottom: 1px dotted #bebebe;

    &:hover {
      border-bottom-color: #989898;
      border-bottom-style: solid;
    }

    &:active {
      border: none;
    }
  }
}

/*       Управление слайдами        */
.slider__toggle:checked ~ .slider__slide--before {
  display: flex;
}

.slider__toggle:checked ~ .slider__slide--after {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.slider__toggle:checked ~ .slider__controls .slider__controls-label::after {
  left: 124px;

  @media (min-width: $tablet-width) {
    left: 268px;
  }
}

.nojs .slider__toggle:checked ~ .slider__slide--before {
  display: block;

  @media (min-width: $tablet-width) {
    position: static;
    width: 100%;
  }
}

.nojs .slider__toggle ~ .slider__slide--before {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nojs .slider__toggle:checked ~ .slider__slide--after {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nojs .slider__toggle:checked ~ .slider__controls .slider__controls-label::after {
  @media (min-width: $tablet-width) {
    left: 69px;
  }
}

.nojs .slider__toggle ~ .slider__controls .slider__controls-label::after {
  @media (min-width: $tablet-width) {
    left: 468px;
  }
}
