.social {
  border-bottom: $border-bottom;

  @media (min-width: $tablet-width) {
    display: flex;
    border: none;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 22px 0 17px;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    padding-bottom: 5px;
  }
}

.social__item {
  width: 25px;
  margin: 0 14px 0 19px;

  @media (min-width: $tablet-width) {
    margin: 0 15px;
  }
}

.social__link {
  width: 25px;
  height: 25px;

  &:hover svg,
  &:focus svg {
    fill: $primary-bg-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  fill: #666666;

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--inst {
    width: 16px;
    height: 16px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }

  @media (min-width: $tablet-width) {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--inst {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
