html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  background: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*======= FONTS =======*/
@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"),
    local("Oswaldmedium"),
    url("../source/fonts/oswaldmedium.woff2") format("woff2"),
    url("../source/fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald Regular"),
    local("Oswaldregular"),
    url("../source/fonts/oswaldregular.woff2") format("woff2"),
    url("../source/fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
